<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registro">Registro</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
      <a class="nav-link" href="/twets">Ver Twets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/twets/add">Nuevo Twet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/salir">Cerrar Sesión</a>
    </li>

  </ul>
</nav>